body{
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-areas: 
    "usuario info";
}
.main-section-izquierda {
    grid-area: usuario;
    display: grid;
    grid-template-areas: ". . .",
                        ". foto .";
}

#logo{
    grid-area: foto;
}


.main-section-info {
    grid-area: info;
}

.main-section-coche {
    grid-area: coche;
}

.main-section-button {
    grid-area: boton;
    font-size: 30px;
}