body{
    font-family: Helvetica, Arial, sans-serif;
}

li{
    text-decoration:none;
    margin-bottom: 20px;
}

.main-section-info {
    grid-area: info;
}

.main-section-button {
    grid-area: boton;
    font-size: 30px;
}
.main-section {
    display: grid;
    grid-template:
    '. info .';
    border: 1px solid ;
}
